html,
body {
  color: #483d8b;
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("background.jpg");
  background-attachment: fixed;
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Ensures the image doesn't repeat */
  background-size: cover; /* Makes the image cover the entire background */
  font-family: "Arial", sans-serif;
  line-height: 2;
  margin: 0;
  padding: 10px;
}

.container {
  border-radius: 15px; 
  box-shadow: #483d8b;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  margin: 0 auto;
  margin-top: 20px; /* Extra space between two containers */
  max-width: 800px;
  padding: 10px;
  text-align: center;
  width: 80%; /* Adjusts with screen size */
}

.container h2 {
  font-size: 1.8em; /* Adjust font size */
  margin: 10px 0; /* Less margin around the element */
  padding: 5px;
}
.container h3 {
  font-size: 1.5em; /* Adjust font size */
  margin: 8px 0;
  padding: 3px; 
}
button {
  width: 100%; /* Full width for smaller screens */
  max-width: 200px; /* Limited width for larger screens */
  margin: 5px auto;
  padding: 15px;
  font-size: 1em;
  font-style: bold;
  border: none;
  background-color: #ffd700;
  color: #483d8b;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  display: flex;
  border-color: #483d8b;
  justify-content: space-around;
  margin-top: 40px;
}
button:hover {
  background-color: #ffe34f;
  transform: scale(1.05); /*zoom effect */
  transition: all 0.3s ease;
}
/* to make it fonts fully responsive */
h1 {
  font-size: 2.5em; /* Scales based on screen size */
  text-align: center;
}

h2,
h3 {
  font-size: 1.8em;
}

p {
  font-size: 1em;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8em;
  }

  h2,
  h3 {
    font-size: 1.5em;
  }

  p{
    font-size: 0.9em;
  }
}
